# Inside uploads/models/.htaccess
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType model/gltf-binary "access plus 1 year"
    ExpiresByType model/gltf+json "access plus 1 year"
</IfModule>